@import "./../../assets/styles/variables";

// TODO
/* stylelint-disable no-descending-specificity */
.gameslist-item {
  margin-bottom: 4px;

  a {
    text-decoration: none;

    &:visited {
      color: $color-white;

      &:hover {
        color: $link-color-hover;
      }
    }
  }

  &.multigenre {
    a {
      color: $link-color-multigenre;
    }
  }

  &.missing {
    color: $color-red;
  }

  &.undev {
    color: $color-muted;
  }
}
