{
  "extends": ["stylelint-config-recommended", "stylelint-config-standard", "stylelint-config-rational-order"],
  "rules": {
    "at-rule-no-unknown": [true, {
      "ignoreAtRules": ["function", "if", "each", "include", "mixin"]
      }
    ],
    "color-no-hex": true,
    "color-named": "never"
  }
}