@import "../../assets/styles/variables";

.alphabet-sorter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
  list-style-type: none;

  &__button {
    padding: 1px 6px;
    color: $color-white;
    font-size: 32px;
    font-family: capture-it, serif;
    background: none;
    border: none;
    transition-duration: $transition-duration;
    transition-property: color;

    &:hover,
    &:focus,
    &:active {
      color: $link-color-hover;
      outline: none;
      transition-duration: $transition-duration;
      transition-property: color;
    }

    &.is-active {
      color: $link-color-active;
    }
  }
}
