@import "./../../assets/styles/variables";
@import "./../../assets/styles/media";

.gameslist {
  font-family: $font-family-secondary;
  font-size: 20px;
  list-style-type: none;
  text-transform: uppercase;

  @include tablet {
    column-count: 3;
    column-gap: 32px;
  }
}

.missing {
  color: $color-red;

  a {
    color: $color-white;
  }
}
