@import "./../../assets/styles/variables";

.select {
  display: flex;
  align-items: flex-end;
  padding-right: 16px;

  &__control {
    position: relative;
    width: 100%;

    &::after {
      position: absolute;
      top: 50%;
      right: 10px;
      display: block;
      width: 8px;
      height: 8px;
      margin-top: -2px;
      border-right: 1px solid $color-black;
      border-bottom: 1px solid $color-black;
      transform: rotate(45deg) translateY(-50%);
      transform-origin: 50% 0;
      transition: all 0.4s ease-in-out;
      content: "";
      pointer-events: none;
    }
  }

  &__icon {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    margin-left: 16px;

    > * {
      width: inherit;
      height: inherit;
    }
  }

  &__icon-info {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 8px;
    color: $color-info;
    vertical-align: middle;
    transition-duration: $transition-duration;
    transition-property: color;

    &:hover,
    &:focus,
    &:active {
      color: $color-info-active;
      transition-duration: $transition-duration;
      transition-property: color;
    }
  }

  &__input {
    width: 100%;
    padding: 2px 8px;
  }

  &__label {
    width: 100%;
  }

  &__label-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  &__name {
    display: inline-block;
    color: $color-white;
    font-weight: 400;
    font-family: capture-it, serif;
    vertical-align: middle;
  }
}

.is-selected {
  color: $color-white;
  background-image:
    linear-gradient(
      to bottom,
      rgb(0 0 255 / 80%) 0%,
      rgb(255 255 255 / 0%) 15%,
      rgb(0 0 0 / 0%) 10%,
      rgb(0 0 0 / 80%) 100%
    ),
    url("../../assets/img/arcbg.png");
}

.trigger {
  line-height: 1;
}
