.select {

  &__icon-info {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-left: 8px;
    color: #fff;
    transition-duration: 0.2s;
    transition-property: color;

    &:focus,
    &:hover,
    &:active {
      color: #17a2b8;
      transition-duration: 0.2s;
      transition-property: color;
    }
  }

  &__input {
    width: 200px;
  }

  &__label-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 200px;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  &__name {
    display: inline-block;
    vertical-align: middle;
    font-family: 'capture-it', serif;
    font-weight: 400;
    color: #fff;
  }
}

.is-selected {
  background-color: green;
  color: white;
}

.trigger {
  line-height: 1;
}