@import "./../../assets/styles/variables";
@import "../../assets/styles/media";

.header {
  min-height: 120px;
  margin-bottom: 16px;
  font-size: 32px;
  font-family: capture-it, serif;

  @include desktop {
    margin-bottom: 32px;
    font-size: 48px;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    max-width: 100%;
    height: 120px;
    background-image: url("../../assets/img/sor-city.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    content: "";

    @include tablet {
      background-repeat: repeat;
      background-size: 50%;
    }
  }

  &::after {
    position: absolute;
    top: 120px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 32px;
    background-image:
      linear-gradient(
        to bottom,
        $color-black 0%,
        $color-black 25%,
        transparent 100%
      );
    content: "";
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: $container-width-lg;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;

    @include tablet {
      height: 120px;
    }
  }

  &__link {
    margin-top: 16px;
    color: $color-white;
    font-size: 24px;
    text-decoration: none;

    @include tablet {
      margin-top: 0;
      font-size: 32px;
    }

    @include desktop {
      font-size: 40px;
    }

    &:not(:last-child) {
      margin-right: 16px;

      @include tablet {
        margin-right: 32px;
      }
    }

    &.is-active,
    &:hover,
    &:focus,
    &:active {
      color: $link-color-active !important;
    }

    &:visited {
      color: $color-white;
    }
  }
}

.dronami-logo {
  img {
    display: block;
    width: 160px;
    height: auto;

    @include tablet {
      width: 240px;
    }

    @media (min-width: 1024px) {
      width: 300px;
    }
  }
}

.punchpedia-logo {
  img {
    display: block;
    width: 60px;
    height: auto;

    @media (min-width: 1024px) {
      width: 120px;
    }
  }
}
