@import "./../../assets/styles/variables";
@import "../../assets/styles/media.scss";

.header {
  margin-bottom: 32px;
  font-size: 2rem;
  font-family: "capture-it", serif;

  @include desktop {
    font-size: 3rem;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    max-width: 100%;
    height: 120px;
    background-image: url("../../assets/img/sor-city.png");
    background-position: 50% 50%;
    background-size: 50%;
    content: "";
  }

  &::after {
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    height: 32px;
    background-image:
      linear-gradient(
        to bottom,
        $color-black 0%,
        $color-black 25%,
        transparent 100%
      );
    content: "";
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: $container-width-lg;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }

  &__link {
    color: $color-white !important;
    text-decoration: none;

    &:not(:last-child) {
      margin-right: 32px;
    }

    &.is-active {
      color: $link-color-active !important;
    }
  }
}

.dronami-logo {
  img {
    display: block;
    width: 160px;
    height: auto;

    @include tablet {
      width: 300px;
    }
  }
}

.punchpedia-logo {
  img {
    display: block;
    width: 80px;
    height: auto;

    @include tablet {
      width: 120px;
    }
  }
}
