@import "../../assets/styles/variables";

.input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: none;

  &--search {
    color: $color-white;
    font-size: 24px;
    font-family: $font-family-secondary;
    text-transform: uppercase;
    background:
      linear-gradient(
        to bottom,
        rgba(122, 122, 122, 0.8) 0%,
        rgba(255, 255, 255, 0) 15%,
        rgba(0, 0, 0, 0) 10%,
        rgba(0, 0, 0, 0.8) 100%
      ),
      url(../../assets/img/vborder.png);

    &::placeholder {
      color: rgba($color-white, 0.7);
    }
  }
}
