@import "./../../assets/styles/variables";
@import "./../../assets/styles/media";

.game-card {
  color: $color-white;
  font-size: 18px;

  h3 {
    font-weight: 400;
    font-size: 2rem;
    font-family: "capture-it", serif;
  }

  &__about {
    order: 1;
    padding-right: 0;

    @include desktop {
      order: 0;
      padding-right: 24px;
    }
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include desktop {
      flex-wrap: nowrap;
    }
  }

  &__cover {
    display: block;
    max-width: 290px;
    margin-right: auto;
    margin-bottom: 24px;
    margin-left: auto;

    @include tablet {
      max-width: 360px;
    }

    @include desktop {
      margin-right: 0;
      margin-left: 0;
    }
  }

  &__detail {
    flex-shrink: 0;
    width: 100%;
    max-width: 420px;
    margin-right: auto;
    margin-left: auto;

    @include desktop {
      margin-right: 0;
    }

    > ul,
    li {
      display: flex;
      justify-content: space-between;
    }
  }

  &__header {
    width: 100%;
    margin-bottom: 24px;

    @include desktop {
      width: auto;
      padding-right: 24px;
    }
  }

  &__links {
    word-break: break-all;
  }

  &__name {
    font-weight: 400;
    font-size: 2rem;
    font-family: "capture-it", serif;
    text-align: center;
  }

  &__parameter-name {
    display: inline-block;
    min-width: 50%;
    padding-right: 16px;
    color: $color-info;
    font-family: "capture-it", serif;
    border-bottom: 1px solid $color-white;

    + span {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      text-align: left;
      border-bottom: 1px solid $color-white;
    }
  }

  &__screenshots,
  &__videos {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  &__screenshots {
    .swiper-slide {
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }

  &__title {
    font-size: 2rem;
    font-family: "capture-it", serif;
  }

  &__values-list {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    border-bottom: 1px solid $color-white;

    > li {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 8px;

        &::after {
          margin-left: 8px;
          color: $link-color-visited;
          content: "/";
          pointer-events: none;
        }
      }
    }
  }
}
