.game-card {
  color: #fff;
  
  h3 {
    font-family: 'capture-it', serif;
    font-weight: 400;
  }

  &__about,
  &__trivia {
    font-family: 'capture-it', serif;
  }

  &__name {
    font-family: 'capture-it', serif;
    font-weight: 400;
    font-size: 2rem;
  }

  &__values-list {
    display: inline-flex;

    > li {

      &:not(:last-child) {
        margin-right: 8px;

        &:after {
          content: "/";
          margin-left: 8px;
          pointer-events: none;
          color: #ff00ff;
        }
      }
    }
  }

  &__parameter-name {
    display: inline-block;
    min-width: 200px;
    font-family: 'capture-it', serif;
  }

  &__screenshots,
  &__videos {
    margin-top: 32px;
  }

  &__screenshots {
    .swiper-slide {
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}