@import "./../../assets/styles/variables";
@import "./../../assets/styles/media";

.game-card {
  color: $color-white;
  font-size: 18px;

  h3 {
    font-weight: 400;
    font-size: 2rem;
    font-family: "capture-it", serif;
  }

  &__about {
    order: 1;
    padding-right: 0;

    @include desktop {
      order: 0;
      padding-right: 24px;
    }
  }

  &__cover {
    display: block;
    margin-right: auto;
    margin-bottom: 24px;
    margin-left: auto;

    @include desktop {
      margin-right: 0;
      margin-bottom: 0;
      margin-left: 0;
    }
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 24px;

    @include desktop {
      flex-wrap: nowrap;
    }
  }

  &__name {
    font-weight: 400;
    font-size: 2rem;
    font-family: "capture-it", serif;
    text-align: center;
  }

  &__title {
    font-size: 2rem;
    font-family: "capture-it", serif;
  }

  &__values-list {
    display: inline-flex;

    > li {
      &:not(:last-child) {
        margin-right: 8px;

        &::after {
          margin-left: 8px;
          color: $link-color-visited;
          content: "/";
          pointer-events: none;
        }
      }
    }
  }

  &__parameter-name {
    display: inline-block;
    min-width: 240px;
    font-family: "capture-it", serif;
  }

  &__screenshots,
  &__videos {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  &__screenshots {
    .swiper-slide {
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}
