@import "./../../assets/styles/variables";
@import "./../../assets/styles/media";

.tooltip-container {
  max-width: 320px;
  padding: 16px;
  color: $color-black;

  @include tablet {
    max-width: 420px;
  }
}
