@import "./../../assets/styles/variables";
@import "./../../assets/styles/helpers";

.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 18px;
  word-break: break-all;

  &__item {
    flex-basis: calc(100% / 3);

    &:nth-child(3) {
      text-align: center;
    }

    &:last-child {
      text-align: right;
    }
  }

  &__key {
    font-family: $font-family-secondary;
  }

  &__progress {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;

    progress {
      flex-shrink: 0;
      width: 60%;
    }
  }

  &__value {
    display: inline-block;
    min-width: 32px;
    font-weight: 700;
  }
}
