@import "assets/styles/variables";
@import "assets/styles/media";

.app {
  &__body {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 32px;

    @include tablet {
      flex-wrap: nowrap;
    }
  }
}

.brawlers-alley-link {
  display: block;
  text-align: center;
  text-decoration: none;

  p {
    margin: 0;
    color: $color-white;
  }

  &:focus,
  &:hover,
  &:active {
    p {
      color: $link-color-hover;
    }
  }
}
