@import "./fonts.scss";
@import "./media.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../img/mff-bg.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  color: #fff;
  transition-duration: 0.2s;
  transition-property: color;

  &:visited {
    color: #ff00ff;
  }

  &:focus,
  &:hover {
    color: #00ff00cc;
    transition-duration: 0.2s;
    transition-property: color;
  }

  &:active {
    color: #00ff00cc;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

svg {
  width: inherit;
  height: inherit;
  fill: currentColor;
}
