/* stylelint-disable */
$pagination-top-offset: 24px;

.swiper-slide img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.swiper-pagination {
  position: static;
  margin-top: $pagination-top-offset;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: #fff;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: rgb(0, 122, 255);
}

.swiper-pagination-bullet:only-child {
  visibility: hidden;
}

.game-card {
  .swiper-button-prev,
  .swiper-button-next {
    margin-top: calc(
      -#{$pagination-top-offset} - var(--swiper-navigation-size) / 2
    );
  }
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  display: none;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin-right: 8px;
  margin-left: 8px;
}
