/* stylelint-disable */
.swiper-slide img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.swiper-pagination {
  position: static;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #fff;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: rgb(0, 122, 255);
}
